<a href="https://colab.research.google.com/github/anicelysantos/oficina-codabr/blob/main/oficina_codabr21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Programa√ß√£o do zero a pr√°tica: Primeiros passos com Python** üêçüé≤üêº

## Notebooks üíª



*   O que s√£o
*   Como funcionam
*   Mini tour pelos principais lugares
*   Erros comuns:
  *  Congelar a c√©lula
  *  Erro na c√©lula

## Python, bem basiquinho üêç

### Agenda

*    O que √© o Python
*    Coment√°rios
*    Import
  *  Zen do Python
*    Tipos de dados
  *  Type
  *  String
      *  Fun√ß√µes
  *  N√∫meros 
  *  Booleanos
*    Vari√°vel
*    M√©todo
*    Fun√ß√£o Print
* Cole√ß√£o de dados
  *  Listas
  * Dicion√°rios
* For
* If e Else

### Import

In [ ]:
#Zen do Python
#import this

### String

In [ ]:
#'Ol√° Mundo'

In [ ]:
#"Ol√°, pessoal!"

In [ ]:
#'Quinta'+'-'+'Feira'

In [ ]:
#type('Oie')

In [ ]:
#Qual a diferen√ßa?
#2+3 / '2'+'3'

### N√∫meros

In [ ]:
#Inteiros
#type(21)

In [ ]:
type(21.2)

**Opera√ß√µes matem√°ticas**

In [ ]:
#Soma
#2 + 2

In [ ]:
#Subtra√ß√£o
#2-2

In [ ]:
#Divis√£o
#2/2

In [ ]:
#Multiplica√ß√£o
#2*2

In [ ]:
#Pot√™ncia
#2**2

In [ ]:
#Qual o resultado?
2+4/2

### Booleano

In [ ]:
type(False)

In [ ]:
type(True)

### Vari√°veis

In [16]:
#numero = 35

**Operadores l√≥gicos**

In [ ]:
#Compara√ß√£o
#numero == 34

In [ ]:
#Diferente
#numero != 15

In [ ]:
#Maior que
#2 > 4

In [ ]:
#Menor que
#2 < 4

In [ ]:
#Maior igual
#numero >= 8

In [ ]:
#Menor igual
#numero <= 100

### M√©todos

In [25]:
#minha_fruta =  'banana'

In [ ]:
#minha_fruta.upper()

In [ ]:
#minha_fruta.lower()

In [ ]:
#minha_fruta.count('a')

In [44]:
#bebida = '√°gua de coco'
#bebida

'√°gua de coco'

In [35]:
#Separar
#bebida.split()

['√°gua', 'de', 'coco']

In [ ]:
#M√©todos encandeados
#bebida.upper().split()

In [ ]:
#Mudan√ßas na String
#bebida_grande = bebida.upper().split()
#bebida_grande

### Print

In [ ]:
#print('bom dia')

In [60]:
#evento = 'Coda'

In [ ]:
#print(f'bom dia, {evento}')

###Listas

In [75]:
#frutas = ['pera', 'uva', 'ma√ß√£','laranja']

In [ ]:
#Pegar o segundo elemento
#frutas[2]

In [ ]:
#Pegar o √∫ltimo elemento
#frutas[-1]

**Fatiamento de listas**

In [ ]:
#frutas[0:2]

In [ ]:
#frutas[:1]

In [ ]:
#frutas[3:]

In [ ]:
#Tamanho de uma lista
#len(frutas)

In [86]:
#Incluir um item
#frutas.append('melancia')

In [ ]:
#Excluir um item
#frutas.pop()

###Dicion√°rio

In [91]:
salada_de_frutas = {'ingredientes': frutas,
                    'preparo':'corte tudo e misture',
                    'tempo':60
                    }

In [ ]:
#pegar um item
#salada_de_frutas['ingredientes']

In [94]:
#adicionar item 
#salada_de_frutas['por√ß√µes'] = 7

In [97]:
#excluir item
del salada_de_frutas['tempo']

### Estrutura de repeti√ß√£o `For`

In [ ]:
#iterando em listas
for fruta in frutas:
  print(fruta)

In [ ]:
#Pegar as chaves do dicion√°rio
for chave in salada_de_frutas:
  print(chave)

In [ ]:
#Pegar valor das chaves no dicion√°rio
for chave in salada_de_frutas:
  print(salada_de_frutas[chave])

In [ ]:
#Iterando em elementos de uma string
for letra in evento:
  print(letra)

### Estrutura condicional `if`

In [ ]:
if 4 > 3:
  print('√â maior sim!')

In [ ]:
if 4 >= 7:
  print('√â maior sim!')
else:
  print('Claro que n√£o!')

In [ ]:
idade = 21

if idade > 30:
  print('Sou adulto')
elif idade > 19 & idade <= 30:
  print('sou jovem')
else:
  print('sou adolas')

## Pandas üêºüé≤

*  Importar o pandas
*  Carga de dados
*  Detalhando os dados
*  Organizando os dados
*  Filtrando os dados
*  Agrupando e agregando
*  Exportando

### Importar a `Biblioteca`

In [118]:
import pandas as pd

### Carga de dados

In [119]:
df_empresas = pd.read_csv('/content/drive/MyDrive/dados_pandas/empresas_trabalho_escravo.csv')

### Detalhando os dados

In [ ]:
df_empresas.head(10)

In [ ]:
df_empresas.sample(3)

In [ ]:
df_empresas.tail(3)

In [ ]:
#resumo estat√≠stico
df_empresas.describe()

In [128]:
#Quantidade de linhas e colunas
df_empresas.shape

(1387, 11)

In [ ]:
#Nome das colunas e tipos de dados
df_empresas.dtypes

In [ ]:
#Nome das colunas
df_empresas.columns

# **CONTINUE AQUI!**

https://colab.research.google.com/github/escola-de-dados/notebooks-python-pandas/blob/master/Pandas.ipynb?hl=pt-BR#scrollTo=rPQDjya2DUxJ

In [ ]:
#rancking de empresas (CNAE)

df['Descri√ß√£o CNAE'].value_counts().head(5)

CRIA√á√ÉO DE BOVINOS P    357
PRODU√á√ÉO DE CARV√ÉO V    147
CONSTRU√á√ÉO DE EDIF√çC     90
CULTIVO DE CAF√â          79
EXTRA√á√ÉO DE MADEIRA      72
Name: Descri√ß√£o CNAE, dtype: int64

In [ ]:
#Qual estado teve mais opera√ß√µes

df[['UF','Opera√ß√£o']].groupby('UF').sum().sort_values('Opera√ß√£o', ascending=False).head(10)

    Opera√ß√£o
UF
MG     19173
PA     14810
SP     10773
GO      6598
BA      6450
RJ      6095
MT      5993
MA      4920
TO      4330
PI      4112

In [ ]:
#Ano em que mais houve altua√ß√£o
df[['Ano','Opera√ß√£o']].groupby('Ano').sum().sort_values('Opera√ß√£o', ascending=False)

      Opera√ß√£o
Ano
2011     14893
2013     13431
2012     10558
2014     10446
2019     10327
2010     10154
2018      8794
2015      8748
2020      7628
2017      6653
2016      6538

In [ ]:
#Total de pessoas em libertas do trabalho escravo de 2010 a 2020
df['N¬∫ Trab. cond. analog escravo'].sum()

19064

In [ ]:
#Numero total de pessoas libertas atrav√©s dos anos por estado
df[['UF','N¬∫ Trab. cond. analog escravo']].groupby('UF').sum().sort_values('N¬∫ Trab. cond. analog escravo', ascending=False)

    N¬∫ Trab. cond. analog escravo
UF
MG                           5505
PA                           2091
SP                           1600
GO                           1448
TO                            790
MA                            776
MS                            770
BA                            767
PI                            678
SC                            633
RJ                            605
MT                            569
PR                            538
AM                            351
ES                            348
CE                            289
RO                            249
RS                            215
AL                            184
DF                            158
PE                            156
AC                            127
PB                             72
RR                             65
RN                             43
AP                             37

In [ ]:
#Qual ano que mais houveram pessoas libertadas
df[['Ano','N¬∫ Trab. cond. analog escravo']].groupby('Ano').sum().sort_values('N¬∫ Trab. cond. analog escravo', ascending=False)

      N¬∫ Trab. cond. analog escravo
Ano
2013                           2808
2012                           2775
2010                           2640
2011                           2496
2014                           1754
2018                           1752
2015                           1205
2019                           1193
2016                            972
2020                            821
2017                            648

In [ ]:
df.columns

Index(['Ano', 'Opera√ß√£o', 'Dia/M√™s', 'UF', 'Munic√≠pio', 'CNAE',
       'Descri√ß√£o CNAE', 'Propriet√°rio', 'CNPJ/CEI/CPF',
       'Estabelecimento Inspecionado', 'N¬∫ Trab. cond. analog escravo'],
      dtype='object')

In [ ]:
df[df.UF == 'RJ']

       Ano  ...  N¬∫ Trab. cond. analog escravo
106   2010  ...                              1
131   2010  ...                             33
132   2010  ...                             24
220   2011  ...                              5
221   2011  ...                              1
...    ...  ...                            ...
1247  2019  ...                              3
1248  2019  ...                              1
1249  2019  ...                              3
1277  2019  ...                             13
1374  2020  ...                              2

[62 rows x 11 columns]

# **MilkShake dos Dados** ü•§